
.email_dialog_overlay
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   background: #000000;
    opacity: .55;
   filter: alpha(opacity=55);
   -moz-opacity: .55; 
   z-index: 10010;
   display: none;
}
.email_dialog
{
  display: none;
   position: fixed;
   width: 400px;
    min-height: 500px; 
   top: 25%;
   left: 50%;
   margin-left: -190px;
   margin-top: -100px;
   background-color: #ffffff;
   border: 2px solid #e60000;
   padding: 0px;
   padding-bottom:11px;
   z-index: 10011;
   font-family: Verdana;
   font-size: 10pt;
}
.web_dialog_title
{
   border-bottom: solid 2px #000000;
   background-color: #000000;
   padding: 4px;
   color: White;
   font-weight:bold;
}
.web_dialog_title a
{
   color: White;
   text-decoration: none;
}
.align_right
{
   text-align: right;
}
.emailSubmit
{
 background-color:#FF9900;
   border-radius: 7px;
 -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
 color:#AABB33;; 
 font-family:arial;
 font-size:13px;
 font-weight:bold; 
 padding:10px 14px; 
 text-decoration:none;
}
.emailtable
{
width: 100%;
}
.emailcontainer {
     color: #727272;
     width: 400px; 
     margin: 0 auto;
     margin-top:0px; 
     
	/*  border:1px solid #3b6e22; */

    }


.emailheader {
background:#ff6666;
  margin-bottom: 1px;  
  position: relative; 
   height: 80px; 
  

 }
  .emaillogo{ 
  font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
float:left;
padding: 20px;
font-size: 22px; 
color:#ffffff;
margin-bottom:5px;

 }
 
 .home{
 margin-right: 10px; 
 float:right; 
 margin-top:16px;
 }
 

.emailpannel
{

 position: relative; 
font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;


}
#toppannel a{

line-height: 26px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #000000;

}
#toppannel a:HOVER{
color:#e60000;}



#subbutton
{
background-color:#008F6B;
background-color:#AABB33;
 border:1px solid #3b6e22;
 display:inline-block; 
 color:#ffffff; 
 font-family:arial; 
 font-size:13px; 
 font-weight:bold;
 padding:8px 14px; 
 text-decoration:none;
 width:140px;
 cursor:pointer;
 
}
#heading
{
color:#AABB33;
font-weight:bold;
}
.logintext,.signuptext{
    cursor:pointer;
    
}

.seperator { border-bottom: 1px solid black; }


#errorpannel ul
{
margin: 0;
padding: 0;
list-style-type: none;
/* text-align: center; */
}

#errorpannel ul li { 
font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 15px;
	color:#e60000;
	margin-top:0px;
}

#profileerrorpannel ul
{
margin: 0;
padding: 0;
list-style-type: none;
/* text-align: center; */
}

#profileerrorpannel ul li { 
font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 15px;
	color:#e60000;
	margin-top:0px;
}
